<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>Welcome to <%= title %></h2>
    <h3>Which <%= title %> services are you interested in?</h3>
    
    
    <ul id="services">
      <% services.forEach(function(service){ %>
        <li><%= service.name %> - <%= service.level %> - <%= service.price %></li>
      <% }) %>
    </ul>

    <ul id="clients">
      <% clients.forEach(function(client){ %>
        <li><%= client.firstName %> - <%= client.lastName %> - <%= client.sex %></li>
      <% }) %>
    </ul>

  </body>
</html>